@import "global";

.knowledge {
    font-size: 16px;

    &__card {
        width: 100%;
        max-width: 250px;
        text-align: center;
        &--icon {
        }
    }

    &__paging {
        color: black;
    }

    &__framework {
        color: black;
    }

    &__link {
        @extend %link;
        font-size: 16px;
    }
}
