.profiles {
    font-size: 16px;
    
    &__label {
        color: black;
        font-style: initial;
    }

    &__text {
        color: darkslategray;

        &--title {
            font-weight: bold;
        }
        &--address {
            font-size: 18px;
            margin: 1rem;
        }
        &--notion {
            font-weight: bold;
            color: red;
        }
    }
}
